@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;700&display=swap');
#root {
    font-family: 'Lato', sans-serif;
}

.blink_me {
    animation: blinker 0.5s linear 3;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  .blink_loading {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
  }